{% extends "users/base.html" %}

{% block main %}
<a href="{% url 'edit_profile' %}">Изменить данные профиля</a>
<ul class="list-group">
    <li class="list-group-item"> email: {{request.user.email}}</li>
    <li class="list-group-item"> ФИО: {{request.user.full_name}}</li>
    <li class="list-group-item">
        {% if user.verified %}
        Верифицированный пользователь
        {% else %}
        Верификация не пройдена
        <a href="{% url 'send_email_verify' %}">Подтвердить email</a>
    </li>
    {% endif %}
    </li>
</ul>
{% endblock %}